# CIFAR-10 Dataset

Importing Necessary Libraries

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
def unpickle(file):
    import pickle
    with open(file, 'rb') as fo:
        data = pickle.load(fo, encoding='bytes')
    return data

In [3]:
# List all files and folders in current folder
import os

os.listdir()

['.ipynb_checkpoints',
 'Data Batch_1.ipynb',
 'Data Batch_5.ipynb',
 'data_batch_1',
 'data_batch_2',
 'data_batch_3',
 'data_batch_4',
 'data_batch_5',
 'Optimized_code (1).ipynb',
 'readme.html',
 'test_batch']

In [6]:
import pickle
import numpy as np
import pandas as pd


# Initializing empty lists to store images, labels, and other data
cf_images = []
cf_labels = []

In [7]:
# List out all available file in current directory for work to unpickle

data_files = ['data_batch_1', 'data_batch_2', 'data_batch_3', 'data_batch_4', 'data_batch_5','test_batch']

In [8]:
#  use for Loop through the filenames and unpicking each file
for filename in data_files:
    with open(filename, 'rb') as file:
        data_batch = pickle.load(file, encoding='bytes')
        

        # Extracting images and labels from the data_batch
        img = data_batch[b'data']
        labels = data_batch[b'labels']
        
        
         # Appending the images and labels into the empty list
        cf_images.append(img)
        
        cf_labels.extend(labels)

In [32]:
# Concatenating  all the images of a data_batch into a single NumPy array

cf_images = np.concatenate(cf_images, axis=0)

In [33]:
# Reshaping the image data to  one column per pixel  (RGB)

cf_images = cf_images.reshape(-1, 3, 32, 32).transpose(0, 2, 3, 1)

In [34]:
# Flatten the image arrays to store them as pixel values
cf_images = cf_images.reshape(-1, 32 * 32 * 3)

# Create a DataFrame to store the data
data = pd.DataFrame()

In [36]:
# Add lables and its corresponding pixel value
for i in range(32 * 32 * 3):
    data[f'Pixel_{i + 1}'] = cf_images[:, i]

data['Label'] = cf_labels

In [37]:
# Iterating through the first image of each data batch
for i in range(len(data_files)):
    fs_image = cf_images[i]  # Get the first image from the ith data batch
    
    # Print the shape and dimensions of the first image
    print(f"Shape of the first image in {data_files[i]}: {fs_image.shape}")
    print(f"Dimensions of the first image in {data_files[i]}: {fs_image.ndim}")

Shape of the first image in data_batch_1: (3072,)
Dimensions of the first image in data_batch_1: 1
Shape of the first image in data_batch_2: (3072,)
Dimensions of the first image in data_batch_2: 1
Shape of the first image in data_batch_3: (3072,)
Dimensions of the first image in data_batch_3: 1
Shape of the first image in data_batch_4: (3072,)
Dimensions of the first image in data_batch_4: 1
Shape of the first image in data_batch_5: (3072,)
Dimensions of the first image in data_batch_5: 1
Shape of the first image in test_batch: (3072,)
Dimensions of the first image in test_batch: 1

In [38]:
data.shape  # shape of the updated data

(60000, 3073)

In [40]:
data.head(3)

,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,Pixel_10,...,Pixel_3064,Pixel_3065,Pixel_3066,Pixel_3067,Pixel_3068,Pixel_3069,Pixel_3070,Pixel_3071,Pixel_3072,Label
0,59,62,63,43,46,45,50,48,43,68,...,216,184,140,151,118,84,123,92,72,6
1,154,177,187,126,137,136,105,104,95,102,...,143,133,139,143,134,142,143,133,144,9
2,255,255,255,253,253,253,253,253,253,253,...,78,85,83,79,85,83,80,86,84,9

In [42]:
 data.to_csv('CIFAR_final.csv', index=False)